{% extends "site_base.html" %}

{% block body %}
  <h1>{{question.quiz.quiz_name}}</h1>

  {% if question %}
    {% if question.correct_answer_choice == 'a' %}
      {{question.question_number}}. {{question.question_text}}

      <form action="">
        <input type="radio" name="answer" value="correct_answer">{{question.correct_answer}}<br>
        <input type="radio" name="answer" value="incorrect_answer_1">{{question.incorrect_answer_1}}<br>
        <input type="radio" name="answer" value="incorrect_answer_2">{{question.incorrect_answer_2}}<br>
        <input type="radio" name="answer" value="incorrect_answer_3">{{question.incorrect_answer_3}}
      </form>
    {% elif question.correct_answer_choice == 'b' %}
      {{question.question_number}}. {{question.question_text}}

      <form action="">
        <input type="radio" name="answer" value="incorrect_answer_1">{{question.incorrect_answer_1}}<br>
        <input type="radio" name="answer" value="correct_answer">{{question.correct_answer}}<br>
        <input type="radio" name="answer" value="incorrect_answer_2">{{question.incorrect_answer_2}}<br>
        <input type="radio" name="answer" value="incorrect_answer_3">{{question.incorrect_answer_3}}
      </form>
    {% elif question.correct_answer_choice == 'c' %}
      {{question.question_number}}. {{question.question_text}}

      <form action="">
        <input type="radio" name="answer" value="incorrect_answer_1">{{question.incorrect_answer_1}}<br>
        <input type="radio" name="answer" value="incorrect_answer_2">{{question.incorrect_answer_2}}<br>
        <input type="radio" name="answer" value="correct_answer">{{question.correct_answer}}<br>
        <input type="radio" name="answer" value="incorrect_answer_3">{{question.incorrect_answer_3}}
      </form>
    {% elif question.correct_answer_choice == 'd' %}
      {{question.question_number}}. {{question.question_text}}

      <form action="">
        <input type="radio" name="answer" value="incorrect_answer_1">{{question.incorrect_answer_1}}<br>
        <input type="radio" name="answer" value="incorrect_answer_2">{{question.incorrect_answer_2}}<br>
        <input type="radio" name="answer" value="incorrect_answer_3">{{question.incorrect_answer_3}}<br>
        <input type="radio" name="answer" value="correct_answer">{{question.correct_answer}}
      </form>
    {% else %}
      {{question.question_number}}. {{question.question_text}}

      <p>Invalid answer. Please enter, a, b, c, or d for the correct answer choice.</p>
    {% endif %}
    <a href="{{ question.id|add:'1' }}">Next Question</a>
  {% else %}
    No questions available.
  {% endif %}
{% endblock %}
