{% extends "site_base.html" %}
{% load multiple_choice_tags %}

{% block body %}
  <h1>{{question.quiz.quiz_name}}</h1>

  {% if question %}
      <h3>{{question.question_number}}. {{question.question_text}}</h3>
      <p>Question point value: {{question.question_point_value}}</p>

      <form action="" method="post">
        {% csrf_token %}

        {% for answer in question.answer_set.all %}
        <li><input type="radio" name="answer" value="{{ answer.answer_text|lower }}">{{ answer.answer_text|title }}</li>
        {% endfor %}
        <p><input type="submit" name="submit"></p>
      </form>

  {% else %}
    No questions available.
  {% endif %}
{% endblock %}
