{% extends "site_base.html" %}
{% load multiple_choice_tags %}

{% block body %}
  <h1>{{question.quiz.quiz_name}}</h1>

  {% if question %}
      {{question.question_number}}. {{question.question_text}}

      <form action="" method="post">
        {% csrf_token %}

        {% for i in question.get_answer_list %}
        <li><input type="radio" name="answer" value="{{ i|lower }}">{{ i }}</li>
        {% endfor %}
        <p><input type="submit" name="submit"></p>
      </form>

  {% else %}
    No questions available.
  {% endif %}
{% endblock %}
